<body>

    <h2>Last Checked In</h2>
    <hr>

    <div id="location-list">
        <ul>
            <li>
                <img class="location-image-logos" src="assets/images/bar.jpg" alt="bar logo">
                <a href="#">Joe's Bar & Grill</a>
                <hr>
            </li>
            <li>
                <img class="location-image-logos" src="assets/images/bar.jpg" alt="bar logo">
                <a href="#">Moe's Pub
                </a>
                <hr>
            </li>
            <li>
                <img class="location-image-logos" src="assets/images/bar.jpg" alt="bar logo">
                <a href="#">McFadden's</a>
                <hr>
            </li>
            <li>
                <img class="location-image-logos" src="assets/images/bar.jpg" alt="bar logo">
                <a href="#">Larry's Pub</a>
                <hr>
            </li>
        </ul>
    </div>


</body>