.navbar {
}

#titlebar {
	width: 100%;
	text-align: center;
	margin-top: 0 !important;
}

h1 {
	text-align: center;
	color: aliceblue;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-top: 0px;
}

h2 {
	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	padding: 10px;
	font-style: italic;
}

h3 {
	text-align: center;
	font-size: 35px;
}

#location-list {
	line-height: 1.5;
	background: aliceblue;
	margin: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 25px;
	margin-left: 30px;
	margin-right: 30px;
}

.location-image-logos {
	height: 70px;
}

#matches-list {
	line-height: 1.5;
	background: aliceblue;
	margin: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 30px;
	margin-left: 50px;
	margin-right: 50px;
}

.convo {
	font-size: 15px;
}

.checkin-status {
	font-size: 20px;
}

.matches-thumbnails {
	height: 200px;
	padding: 10px;
}

.wrapper {
	float: left;
}

body {
	background: lightgray;
	position: relative;
	min-height: 100vh;
}

#floatimage {
	height: 25%;
	padding: 20px;
	width: 25%;
}

#main-bio {
	margin: 20px;
}

.media-body {
	margin-right: 30px;
}

.bio-section-heading {
	font-size: 25px;
}

.bio-text {
	font-size: 15px;
	margin-left: 40px;
	margin-right: 40px;
}

#login {
	background: aliceblue;
	border: solid;
	border-width: 2px;
	border-color: white;
	width: 500px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 20px;
}

.btn-group {
	width: 100% !important;
	margin-bottom: 0 !important;
}

footer {
	bottom: 0px !important;
	position: absolute;
	width: 100%;
	float: inline-block;
}
