<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <div>
            <img >
          </div>
              <form class="clearfix mb-4" action="POST">
                        <div class="form-group">
                          <label for="example-text">Biography</label>
                          <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text" {{example.name}}>
                        </div>
              </form>
            <strong>Description:</strong> {{example.name}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
