<body>
    <header>
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent"></div>
            <nav class="navbar">
                <div id="titlebar">
                    <h1>Localia</h1>
                </div>
            </nav>
        </div>
    </header>

    <div class="animated fadeIn" id="login">
        <h3>Login</h3>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email" />
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">Remember Me</label>
            </div>
            <button type="button" onclick="window.location.href = '/profile';" class="btn2 btn-primary">
                Sign In
            </button>
        </form>
        <p>Don't have an account? <a href="/profileBuilder"> Sign up!</a></p>
    </div>

</body>