<body>

    <div class="location-container">
        <p>Checkin to your current location</p>
    </div>
    <img id="g-map-example"
        src="https://cnet2.cbsistatic.com/img/HAXosSPbcJvG61k-MUg4qp3A6wI=/868x488/2013/07/10/f0bcef02-67c2-11e3-a665-14feb5ca9861/maps_routemap.png"
        alt="google map example pic">
    <p class="last-checked-in-header">Last Checked In</p>

    <div id="location-list">
        <ul>
            <li>
                <img class="location-image-logos" src="assets/images/bar.jpg" alt="bar logo">
                <a href="#">Joe's Bar & Grill</a>
                <hr>
            </li>
            <li>
                <img class="location-image-logos" src="assets/images/bar.jpg" alt="bar logo">
                <a href="#">Moe's Pub
                </a>
                <hr>
            </li>
            <li>
                <img class="location-image-logos" src="assets/images/bar.jpg" alt="bar logo">
                <a href="#">McFadden's</a>
                <hr>
            </li>
            <li>
                <img class="location-image-logos" src="assets/images/bar.jpg" alt="bar logo">
                <a href="#">Larry's Pub</a>
                <hr>
            </li>
        </ul>
    </div>
</body>