<body>
    <header>
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <h5 class="text-white h4">Collapsed content</h5>
                    <span class="text-muted">Toggleable via the navbar brand.</span>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="titlebar">

                    <input id="search" type="search" class="form-control" id="exampleInputEmail1"
                        placeholder="Search Your Location" />

            </nav>
        </div>
    </header>

    <h2>Last Checked In</h2>
    <hr>

    <div id="location-list">
        <ul>
            <li>
                <img class="location-image-logos" src="assets/images/bar.jpg" alt="bar logo">
                <a href="#">Joe's Bar & Grill</a>
                <hr>
            </li>
            <li>
                <img class="location-image-logos" src="assets/images/bar.jpg" alt="bar logo">
                <a href="#">Moe's Pub
                </a>
                <hr>
            </li>
            <li>
                <img class="location-image-logos" src="assets/images/bar.jpg" alt="bar logo">
                <a href="#">McFadden's</a>
                <hr>
            </li>
            <li>
                <img class="location-image-logos" src="assets/images/bar.jpg" alt="bar logo">
                <a href="#">Larry's Pub</a>
                <hr>
            </li>
        </ul>
    </div>

    <footer>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" onclick="window.location.href = 'locations.html';" class="btn btn-secondary">
                Locations
            </button>
            <button type="button" onclick="window.location.href = 'matches.html';" class="btn btn-secondary">
                Matches
            </button>
            <button type="button" onclick="window.location.href = 'messages.html';" class="btn btn-secondary">
                Messages
            </button>
            <button type="button" onclick="window.location.href = 'profile.html';" class="btn btn-secondary">
                My Profile
            </button>
        </div>
    </footer>
</body>