<body>


    <h2>Matches</h2>


    <div class="animated fadeIn" id="matches-list">
        <div class="match-container">

            <div class="match-image-container">
                <img class="matches-thumbnails" src="assets/images/girl1.jpg" alt="girl 1">
            </div>
            <div class="match-info-container">
                <a href="#">Cindy | 22 | Brooklyn</a>
                <p class="checkin-status">
                    Last checked in at: <a href="#">McFadden's 6 hours ago</a></p>
            </div>
        </div>

        <div class="match-container">

            <div class="match-image-container">
                <img class="matches-thumbnails" src="assets/images/girl2.jpg" alt="girl 2">
            </div>
            <div class="match-info-container">
                <a href="#">Loretta | 25 | Queens</a>
                <p class="checkin-status">
                    Currently checked in at: <a href="#">Joe's Pub</a>

                </p>
            </div>
            </a>
        </div>



        <div class="match-container">
            <div class="match-image-container">
                <img class="matches-thumbnails" src="assets/images/girl3.jpg" alt="girl 3">
            </div>
            <div class="match-info-container">
                <a href="#">Marie | 28 | Lower East Side</a>
                <p class="checkin-status">
                    Last checked in at: <a href="#">Joe's Pub 23 hrs ago</a></p>
                <hr>
            </div>
        </div>
        <div class="match-container">
            <div class="match-image-container">
                <img class="matches-thumbnails" src="assets/images/girl4.png" alt="girl 4">
            </div>
            <div class="match-info-container">
                <a id="match-info" href="#">Corinne | 29 | Upper West Side</a>
                <p class="checkin-status">
                    Currently checked in at: <a href="#">Zurilee's</a></p>
                <hr>
            </div>
        </div>


    </div>

</body>