<body>
    <h2>Messages</h2>


    <div id="matches-list">
        <div class="match-container">
            <img class="matches-thumbnails" src="assets/images/girl1.jpg" alt="girl 1">

            <div class="match-info-container">
                <a href="#">Cindy | 22 | Brooklyn</a>
                <p class="convo">
                    Haha yeah, I like dogs. Look, you're nice and all but I think we should just be friends.
                </p>
                <button type="button" onclick="window.location.href = '#';" class="btn btn-primary">
                    <img class="btn-img" src="assets/images/mailwrite.png" />
            </div>

        </div>



        <div class="match-container">
            <img class="matches-thumbnails" src="assets/images/girl2.jpg" alt="girl 2">

            <div class="match-info-container">
                <a href="#">Loretta | 25 | Queens</a>
                <p class="convo">
                    I'm just really busy these days but it was nice meeting you.
                </p>
                </a>
                <button type="button" onclick="window.location.href = '#';" class="btn btn-primary">
                    <img class="btn-img" src="assets/images/mailwrite.png" />
            </div>

        </div>


        <div class="match-container">

            <img class="matches-thumbnails" src="assets/images/girl3.jpg" alt="girl 3">

            <div class="match-info-container">
                <a href="#">Marie | 28 | Lower East Side</a>
                <p class="convo">
                    Please stop messaging me.</p>
                <button type="button" onclick="window.location.href = '#';" class="btn btn-primary">
                    <img class="btn-img" src="assets/images/mailwrite.png" />
            </div>

        </div>


        <div class="match-container">
            <img class="matches-thumbnails" src="assets/images/girl4.png" alt="girl 4">

            <div class="match-info-container">
                <a href="#">Corinne | 29 | Upper West Side</a>
                <p class="convo">
                    haha</p>
                <button type="button" onclick="window.location.href = '#';" class="btn btn-primary">
                    <img class="btn-img" src="assets/images/mailwrite.png" />
            </div>

        </div>


    </div>
</body>