<body>
    <section id="main-bio">


        <div id="container">



            <div class="media">
                <img id="bio-image"
                    src="https://image.shutterstock.com/image-photo/generic-white-cauasian-young-adult-600w-59689636.jpg"
                    class="align-self-start mr-3" alt="...">

            </div>
            <div class="media-body">

                <p class="bio-header">Eric | 29 | Soho</p>
                <hr>


                </tbody>
                </table>
                <p class="body-bio-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus itaque, est
                    repudiandae ipsa accusamus eaque dolor! Unde tenetur numquam natus! Quasi inventore et architecto at
                    ipsum ea a assumenda recusandae.</p>
            </div>
        </div>


        </div>




    </section>
    <div id="locations-profile">
        <h6>Last Checked In:<br></h6>
        <img class="location-image-logos-profile" src="assets/images/bar.jpg" alt="bar logo">
        <a href="#">Joe's Bar & Grill</a>
        <hr>

        <img class="location-image-logos-profile" src="assets/images/bar.jpg" alt="bar logo">
        <a href="#">Moe's Pub</a>
    </div>
</body>