<section id="main-bio">
    <h3>My Profile <h3>
            <hr width="94%">
            <div id="container">



                <div class="media">
                    <img id="bio-image"
                        src="https://image.shutterstock.com/image-photo/generic-white-cauasian-young-adult-600w-59689636.jpg"
                        class="align-self-start mr-3" alt="...">
                    <br><img id="bio-image"
                        src="https://previews.123rf.com/images/vlue/vlue1008/vlue100800202/7618514-a-generic-white-cauasian-young-adult-male-smiling-down-at-the-camera-with-a-pleasant-look-on-his-fac.jpg"
                        class="align-self-start mr-3" alt="...">
                    <br><img id="bio-image"
                        src="https://image.shutterstock.com/image-photo/average-looking-young-adult-smiles-600w-51397285.jpg"
                        class="align-self-start mr-3" alt="...">
                </div>
                <div class="media-body">
                    <h5 class="mt-0">About Me</h5>
                    <table class="table">
                        <thead>
                            <tr>

                                <th scope="col">Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>Eric</td>
                                <td>29</td>
                                <td>Soho</td>
                            </tr>

                        </tbody>
                    </table>
                    <p class="body-bio-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus itaque,
                        est repudiandae ipsa accusamus eaque dolor! Unde tenetur numquam natus! Quasi inventore et
                        architecto at ipsum ea a assumenda recusandae.</p>
                </div>
            </div>


            </div>




</section>
<div id="locations-profile">
    <h6>Last Checked In:<br></h6>
    <img class="location-image-logos-profile" src="assets/images/bar.jpg" alt="bar logo">
    <a href="#">Joe's Bar & Grill</a>
    <hr>

    <img class="location-image-logos-profile" src="assets/images/bar.jpg" alt="bar logo">
    <a href="#">Moe's Pub</a>
</div>