<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>


    <div id="profile-builder">
        <h3>Build Your Profile</h3>
        <form>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="input" class="form-control" id="user-name1" aria-describedby="emailHelp"
                    placeholder="Enter Your Name" />


                <label for="age">Age:</label>
                <input type="input" class="form-control" id="user-age1" placeholder="Enter Your Age" />



                <label for="region">Region:</label>
                <input type="input" class="form-control" id="user-region1" placeholder="Enter Your Region" />



                <label for="bio">Bio:</label>
                <textarea type="text-box" class="form-control" id="user-bio"
                    placeholder="Write a brief bio about yourself" rows="5"></textarea>



                <label for="interests">Interests:</label>
                <textarea type="text-box" class="form-control" id="user-interests1"
                    placeholder="Write about some of your interests and hobbies" rows="5"></textarea>


                <label for="bio">Astrological Sign:</label>
                <textarea type="text-box" class="form-control" id="user-horoscope1"
                    placeholder="Enter your astrological sign" rows="5"></textarea>

                <br>
                <button type="button" onclick="window.location.href = '/locations';" class="btn2 btn-primary">

                    Submit
                </button>
        </form>
    </div>
    </div>
    <script>
        var name = $("#user-name").val();

        var age = $("#user-age").val();
        var region = $("#user-region").val();
        var bio = $("#user-bio").val();
        var interests = $("#user-interests").val();
        var horoscope = $("#user-horoscope").val();

        $("<button>").on("click", function (event) {

            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "http://localhost:3000/profile",
                data: {
                    name = $("#user-name").val();
                    age = $("#user-age").val();
                    region = $("#user-region").val();
                    bio= $("#user-bio").val();
                    interests= $("#user-interests").val();
                    horoscope =$("#user-horoscope").val();
                },
                success: function (result) {
                    $("#profile-builder").html(result);
                }
            });



        });




    </script>

</body>