<body>


    <section id="main-bio">


        <div id="container">



            <div class="media">
                <img id="bio-image"
                    src="https://icdn6.themanual.com/image/themanual/generic-graying-bearded-man-3-416x416.jpg"
                    class="align-self-start mr-3" alt="...">

            </div>
            <div class="media-body">

                <p class="bio-header">Eric | 29 | Soho</p>
                <hr>


                </tbody>
                </table>
                <p class="body-bio-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
                    itaque, est repudiandae ipsa accusamus eaque dolor! Unde tenetur numquam natus! Quasi inventore et
                    architecto at ipsum ea a assumenda recusandae.

                </p>
            </div>
        </div>


        </div>




    </section>
    <div id="location-list">
        <p class="last-checked-in-header">Last Checked In</p>
        <div class="location-display-on-list">
            <img class="location-image-logos" src="https://s3-media3.fl.yelpcdn.com/bphoto/2b4aGOOputj1t7GDajTbyA/o.jpg"
                alt="bar logo">
            <a href="#">Zombie Lounge</a>
            <hr>
        </div>
        <div class="location-display-on-list">
            <img class="location-image-logos" src="https://zurileepizza.com/wp-content/uploads/2016/10/ZuriLee-Logo.jpg"
                alt="bar logo">
            <a href="#">Zurilee
            </a>
            <hr>
        </div>
    </div>
</body>