.navbar {
	height: 55px;
}

#titlebar {
	width: 100%;
	text-align: center;
	margin-top: 0 !important;
}

h1 {
	text-align: center;
	color: aliceblue;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-top: 0px;
}

h2 {
	font-size: 25px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	padding: 5px;
	padding-bottom: 0;
	font-style: italic;
	font-weight: bold;
	background-color: whitesmoke;
	border: solid;
	border-width: 1px;
	border-color: grey;
	height: 45px;
}

.last-checked-in-header {
	font-size: 15px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	padding: 0px;
	font-style: italic;
	font-weight: bold;
	background-color: whitesmoke;
	border: solid;
	border-width: 1px;
	border-color: grey;
	height: 30px;
}

h3 {
	text-align: center;
	font-size: 30px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.location-container {
	font-size: 22px;
	padding-left: 30px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-bottom: 0px;
	background: aliceblue;
	width: 100%;
}

#g-map-example {
	width: 90%;
	margin-top: 0;
	margin-left: 20px;
	margin-bottom: 5px;
	border: solid;
	border-width: 1px;
	border-color: grey;
}

#location-list {
	background: aliceblue;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 18px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 0px;
	border: solid;
	border-radius: 10px;
	border-width: 1px;
	border-color: grey;
}

.location-image-logos {
	height: 70px;
	padding: 5px;
	padding-bottom: 0px;
}

#matches-list {
	line-height: 1.5;
	background: aliceblue;
	margin: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 18px;
	margin-left: 30px;
	margin-right: 0px;
	width: 80%;
	border: solid;
	border-radius: 15px;
	border-color: darkgray;
	border-width: 1px;
	display: flex;
	flex-direction: column;
}

.match-container {
	display: flex;
	flex-direction: row;
}

.match-image-container {
	height: 150px;
}

.matches-thumbnails {
	height: 150px;
	padding: 10px;
	width: 150px;
}

#match-info-container {
	background: whitesmoke;
	border: solid;
	border-width: 1px;
	font-size: 10px;
	border-radius: 5px;
}

.checkin-status {
	font-size: 12px;
}

.convo {
	font-size: 15px;
	margin-bottom: 0;
}

.btn {
	height: 40px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.wrapper {
	float: left;
}

body {
	background: lightgray;
	position: relative;
	min-height: 100vh;
}

#floatimage {
	height: 25%;
	padding: 20px;
	width: 25%;
}

.bio-section-heading {
	font-size: 25px;
}

h4 {
	text-align: center;
	font-weight: bold;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
	padding: 10px;
}

h5 {
	text-align: center;
	background: whitesmoke;
	border: solid;
	border-width: 2px;
	border-color: grey;
	height: 30px;
}
h6 {
	text-align: center;
	background: whitesmoke;
	border: solid;
	border-radius: 5px;
	border-width: 2px;
	border-color: grey;
	margin-right: 50px;
	margin-top: 5px;
}

.media {
	display: flex;
	flex-direction: row;
	margin-right: 0;
	margin-left: 0;
}

#bio-image {
	height: 40%;
	width: 85%;
	border: solid;
	border-width: 1px;
	border-color: grey;
	margin-left: 20px;
}

#container {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}

#main-bio {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	background: aliceblue;
	border: solid;
	border-color: grey;
	border-radius: 10px;
}

.bio-header {
	font-size: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
	margin-top: 5px;
}
.media-body {
	font-size: 18px;
	margin-right: 40px;
	margin-top: 20px;
	margin-left: 20px;
	background: white;
	border: solid;
	border-radius: 10px;
	border-width: 1px;
	border-color: grey;
	min-width: 85%;
}

.body-bio-text {
	font-size: 15px;
	margin-left: 40px;
	margin-right: 40px;
	min-width: 75%;
}

#locations-profile {
	margin-top: 0;
	margin-left: 50px;
	height: 5%;
	margin-bottom: 0;
	overflow: auto;
}

.location-image-logos-profile {
	width: 15%;
}

#login {
	background: aliceblue;
	border: solid;
	border-width: 2px;
	border-color: white;
	width: 80%;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 20px;
}

.btn-group {
	width: 100% !important;
	margin-bottom: 0 !important;
}

img.btn-img {
	width: 25px;
}

footer {
	bottom: 0px !important;
	position: fixed;
	width: 100%;
	margin-top: 0;
}
